.sidebar{
    background-color: rgb(68, 68, 67);
    color: white;
    width: 300px;
    height: 100%;
    position: fixed;
    padding-top: 70px;
    top: 0;
    bottom: 0;
    padding-left: 0px;

}
.sidebar ul{
    list-style: none;

}
ul{
    list-style: none;
    margin: 10px;
    padding: 20px;

}
li{
    padding: 15px 15px;
    font-family: cursive;
    font-size: large;

}
a{
    text-decoration: none;
    color:chartreuse;
}
a:hover {
    background-color: orangered;
    color: aqua;
}
.rounded-image{
    width: 200px;
    height: 150px;
    border-radius: 80%;
    overflow-y: none;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    
}
audio {
    width: 100%;
    margin-bottom: 50px;
  }
  
  audio::-webkit-media-controls {
    background-color: #df9e12;
    border-radius: 50px;
  }
  
  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-pause-button,
  audio::-webkit-media-controls-volume-slider {
    background-color: #6e5555;
  }
  
  audio::-webkit-media-controls-volume-slider::-webkit-media-slider-thumb {
    background-color: #bd0af3;
  }
  
  audio::-webkit-media-controls-timeline,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: #ff5100;
  }
  .song1{
    background-size: 10px;
    padding: bottom 10px;;
  }